*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    clear: both;
}

body{
    font-family: Helvetica Neue, Arial;
    font-size: 18px; 
}

/****************  HEADINGS   *****************/

h1, h2, h3 {
   color: rgb(55, 199, 55);
}

h1 {
    font-size: 50px;
    margin-bottom: 28px;
    font-style: oblique;
}

h2 {
    font-size: 25px;
    margin-bottom: 25px; 
    text-decoration: underline;
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

/****************      HEADINGS END    ****************/



/****************       MAIN BLOG        ****************/
.blog-head {
    box-shadow: 0 3px 5px #e8e8e8;
    padding: 5px;
}

.blog__main {
    width: 75%;
    float: left;
    margin: 15px auto 0 auto;
    border-top: 3px solid #007705;
    
}

.blog-post {
    width: 75%;
    float:left;
    padding-right: 50px;
    position: relative;
}

.main-blog-section{
    box-shadow: 0 3px 5px #e8e8e8;
    padding: 5px;
}

.blog-post img{
    height:400px;
    width: auto;
    margin-bottom: 5px;  
}

/***************      MAIN BLOG END       ***************/



/**************        COMMON                  **************/

.main-text{
    text-align: justify;
    margin-bottom: 25px; 
}

a{
	text-decoration: underline;
	color:#000;
}
a:hover{
	color: rgb(55, 199, 55);

}
a:active{
	color:red;
}

section {
    padding: 0px 0 80px 0;
}

/**************        COMMON END              **************/




/**************       QUICK RECIPIES           **************/

.quick-r{
    box-shadow: 0 3px 5px #e8e8e8;
    padding: 5px 5px 0px 2px;
    margin-right: 40px;
    float: right;
    
}

.quicky {
    margin-bottom: 35px;
    margin-top:20px;
    padding: 6px;
    box-shadow: 0 3px 5px #e8e8e8;  
     
}

.blog__other-posts {
    margin-top: 15px;
    width: 25%;
    float:right;
    font-style: oblique;
}

/***************    QUICK RECIPIES END      ***************/

/***************    PROFILE            *****************/

.creator {
    box-shadow: 0 3px 5px #e8e8e8; 
    width: 21%;
    float: left;
    padding: 5px;
    margin-right: 40px;
}

.profile {
    border-radius: 50%;
    margin-top: 5px; 
    box-shadow: 0 3px 5px #e8e8e8; 
    
}


/***************    PROFILE END           *****************/

/****************     USEFUL LINKS    ****************/

.links {
    margin-top: 10px;
    width: 21%;
    float: left;
    box-shadow: 0 3px 5px #e8e8e8;
    padding: 5px;
    margin-right: 40px;

}

/****************     USEFUL LINKS END    ****************/

/****************     SEARCH BAR    ****************/

.blog__search {
    
}

/****************     SEARCH BAR END    ****************/



/****************     COMMENT BOX    ****************/



.section__form{
    box-shadow: 0 3px 5px #e8e8e8; 
    width: 55%;
    
}

.form__title {
    padding: 5px;
}

.contact {
    padding: 5px;
}

form button{
  margin-top: 35px;
  background-color: white;
  border: 1px solid rgb(55, 199, 55);
  line-height: 0;
  font-size: 17px;
  display: inline-block;
  box-sizing: border-box;
  padding: 20px 15px;
  border-radius: 5px;
  color: rgb(55, 199, 55);
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
}
    
form button:hover, form button:focus {
  color: white;
  background-color: rgb(55, 199, 55);
}

form .question {
  position: relative;
  padding: 10px 0;
}

form .question label {
  transform-origin: left ;
  color: #333;
  font-weight: 400;
  letter-spacing: 0.01em;
  font-size: 17px;
  box-sizing: border-box;
  padding: 10px;
  display: block;
  position: absolute;
  margin-top: -40px;
  z-index: 2;
  pointer-events: none;
}
        
form .question input[type="text"] {
  appearance: none;
  background-color: none;
  border: 1px solid rgb(55, 199, 55);
  line-height: 0;
  font-size: 17px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 2px;
  color: rgb(55, 199, 55);
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
}

form .question input[type="text"]:focus {
  outline: none;
  background: rgb(55, 199, 55);
  color: white;
  margin-top: 30px;
}
form .question input[type="text"]:valid {
  margin-top: 30px;
}
form .question input[type="text"]:focus ~ label {
  -moz-transform: translate(0, -35px);
  -ms-transform: translate(0, -35px);
  -webkit-transform: translate(0, -35px);
  transform: translate(0, -35px);
}

form .question input[type="text"]:valid ~ label {
  text-transform: uppercase;
  font-style: italic;
  -moz-transform: translate(5px, -35px) scale(0.6);
  -ms-transform: translate(5px, -35px) scale(0.6);
  -webkit-transform: translate(5px, -35px) scale(0.6);
  transform: translate(5px, -35px) scale(0.6);
}

.transition, form button, form .question label, form .question input[type="text"] {
  -moz-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -o-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -webkit-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
}

/****************     COMMENT BOX END    ****************/