*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: Helvetica Neue, Arial;
    font-size: 18px;   
}

/*  Headings   */

h1, h2, h3 {
   color: rgb(55, 199, 55);
}

h1 {
    font-size: 50px;
    margin-bottom: 28px;
    font-style: oblique;
}

h2 {
    font-size: 25px;
    margin-bottom: 25px; 
    text-decoration: underline;
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.main-text{
    text-align: justify;
    margin-bottom: 25px; 
}

.author-text{
    font-size: 20px;
    float:left;
    margin-top: 25px;
    margin-left:18px;
}

.blog-head {
    box-shadow: 0 3px 5px #e8e8e8;
    padding: 5px;
}

.blog__main {
    width: 1140px;
    margin: 15px auto 0 auto;
    border-top: 3px solid #007705;
    
}

.blog-post {
    width: 75%;
    float:left;
    padding-right:80px;
    position:relative;
}

.quick-r{
    box-shadow: 0 3px 5px #e8e8e8;
    padding: 5px 5px 0px 2px;
}

.main-blog-section{
    box-shadow: 0 3px 5px #e8e8e8;
    padding: 5px;
}

.blog-post img{
    height:400px;
    width: auto;
    margin-bottom: 5px;  
}

.blog__other-posts {
    margin-top: 15px;
    width: 25%;
    float:left;
    font-style: oblique;
}

.author-box {
    padding-top: 20px;
    border-top: 3px solid #007705;
}

.author-box img{
    height: 100px;
    width: auto;
    border-radius: 50%;
    float: left;
    margin-bottom: 30px;
}

.quicky {
    margin-bottom: 35px;
    margin-top:20px;
    padding: 6px;
    box-shadow: 0 3px 5px #e8e8e8;
    
}


a{
	text-decoration: underline;
	color:#000;
}
a:hover{
	color: rgb(55, 199, 55);

}
a:active{
	color:red;
}

/*     Search bar    */

.blog__search {
    
}